:root {
  --primary-color: #722626;
  --secondary-color: #000000;
  --tertiary-color: #7e7e7e;
}

/*  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}

/* Begin header styling */
header {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: static;
  top: 0; 
  z-index: 9999;
  opacity: 90%;
}

header h1 {
  font-weight: bolder;
  margin: 2%;
  font-size: 50px;
  color: var(--primary-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} 

.lastName {
  color:rgba(255, 230, 0, 0.705)
}

header nav {
  margin: 2%;
  color:#ffffff;  
  display: flex;
}


header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  color:rgb(36, 68, 163);
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* on hover change properties for "button" effect */
header nav ul li a:hover {
  background: var(--primary-color);
  color: rgba(255, 230, 0, 0.705);
  border-radius: 15px;
  text-shadow: none;
}
/* End Header styling */

/* Hero Styling Begin */
.hero {
  background-color: var(--tertiary-color);
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  
}

.hero p {
  font-size: 50px;
  width: 600px;
  margin: auto;
  text-align: center;
  text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.hero img {
  width: 40%;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #ddd;
  padding: 5px;
}

.hero span {
  color:darkred;
  text-shadow: 1px 2px 2px rgb(104, 3, 3);
}
/* End Hero Style */

/* start About Me section style */
.about {
  background-color: rgb(20, 14, 14);
  color: var(--primary-color);
  margin: auto;
  text-align: center;  
}

.about p {
  color: var(--tertiary-color);
  font-weight: bolder;
  flex: content;
  font-size: 5vh;
}

.about img {
  width: 25%;
  margin: 40px auto 10px auto;
}
/* end About Me style */


/* start My Work style */
.projects {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  margin: auto;
  text-align: center;  
  text-decoration: none;
}

.projects img {
  opacity: 50%;
  height: auto;
}

.projects p {
  color: white;
  font-weight: bolder;
  flex: content;
  font-size: 5vh;
  margin-bottom: 100px;
}

.image-text {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc();
  color: white;
  
}

/* end My Work style */

/* start Contact style */
.contact {
  text-align: center;
  font-size: 5vh;
}

/* end Contact style */

.project-title {
  font-size: 10vh;
  margin: 15px auto 15px auto;
}

/* all flex-row classes display flex */
.flex-row {
  display: flex;
}


/* all section-title classes set */
.section-title {
  width: 60%;
  font-size: 50px;
  border-bottom: 8px solid;
  color: darkred;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  margin: 30px auto 30px auto;
}

/* applies padding to all section elements */
section {
  padding: 60px;
}

/* MEDIA QUERY FOR SCREEN SIZES */
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  section {
    padding: 30px 15px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .section-title {
    width: 95%;
  }
}